<script type="text/javascript">
  var upload_path = "<%=raw ckeditor_attachment_path(:file) %>";
</script>

<table width="100%" cellspacing="0" cellpadding="0">
	<tbody>
	<tr>
		<td class="TB_ToolbarSet" id="nv"></td>
	</tr>

	<tr id="fj" style='display:none;'>
		<td style="white-space: normal;" class="FCKUploadArea">
			<div class="PopupTitle">
				<span><%= I18n.t('upload_files', :scope => [:ckeditor]) %></span>
			</div>
			<div id="cY">
				<table cellspacing="0" cellpadding="0" style="padding: 10px;">
					<tbody>
					<tr>
						<td>
              <span id='spanButtonPlaceholder'></span>
              <div id="divFileProgressContainer" style="clear:both;"></div>
              
							<%= render :partial => "ckeditor/swfupload" %>
						</td>
					</tr>
				  </tbody>
			  </table>
			  <div class="PopupButtons">
				  <div style="width: 100%;">
					  <table width="100%" cellspacing="0" cellpadding="0">
						  <tbody><tr>
							  <td width="100%"></td>
							  <td nowrap="nowrap">
								  <button onclick="uploadButton()" class="Button"><span ckf:lang="CancelBtn"><%= I18n.t('cancel', :scope => [:ckeditor, :buttons]) %></span></button>
							  </td>
						  </tr>
					  </tbody></table>
				  </div>
			  </div>
			</div>
		</td>
	</tr>

	<tr>
		<td style="height: 100%;" id="qu">
		  <div style="overflow:auto; height:550px;" id='container'>
			 <%= render :partial => "ckeditor/asset", :collection => @attachments, :as => :asset %>
		  </div>
		</td>
	</tr>
</tbody>
</table>
